html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
/*header {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; display:block}*/
body{ line:center; 
 font-family: Helvetica, Arial, sans-serif;
    color: #fff


}
.back{

   background-image: url('../images/back.jpg');
    background-color: #242424;
    background-size: cover;
    background-position: center;
   /* background-position: 10px;*/
}

.wrapper {
   
    margin-top: 150px;
   
    
}
.content {
    max-width: 680px;
    max-height:440px;

    margin: 0 auto;
    padding: 30px;
    animation-name: opacity;
    -webkit-animation-name: opacity;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    /*-webkit-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:both;animation-fill-mode:both;
  -webkit-animation-name:a;
  animation-name:a;
  -webkit-animation-delay:.5s;
  animation-delay:.5s*/
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo{
  text-align: left;  
    margin-bottom: 20px;}
.logo__image {
    margin-bottom: 18px;
}
.logo__title {
    margin-bottom: 30px;
}
.logo__title__item {
font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.form{display: block;}
.form__group {
    display: inline-block;
    max-width: 196px;
    margin-right: 12px;
    vertical-align: middle;
}
@media (max-width: 100px;) {
    .form__group {
        display: block;
        width: 100px;
        max-width: none;
    }
}
.form__group__label {
    display: block;
    padding-bottom: 3px;
    font-size:16px;
    line-height: 24px;
}
.form__group__input {
    width: 178px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 9px;
}
.form__group__message {
    opacity: 0;
    visibility: hidden;
    padding-top: 3px;
    color: #c33;
    font-size: 17px;
    line-height: 18px;
}
.form__group_for_button {
    padding-top: 7px;
}
.form__group__button {
     border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px 12px;

    -webkit-transition-property: border-color, background, fill;
    transition-property: border-color, background, fill;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: transparent;
   
}
.form__group__button:focus,
.form__group__button:hover {
    background: #70c470
}
.form__group_button p {
    font-size: 16px;
    line-height: 24px;
}
.form__group__button_disabled,
.form__group__button {
    border-color: #a9a9a9;
    color: #a9a9a9;
}
.form__group__button_disabled:focus,
.form__group__button_disabled:hover,
.form__group__button:focus,
.form__group__button:hover {
    background: transparent;
}

.form__group__input {
    border-color: #c33;
}
.form__group__message {
    opacity: 1;
    visibility: visible;
}

.links {
    margin-bottom: .75px
}
.links__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-size: cover
}
.link__vk {
    background-image: url(../images/logo__link__vk.png)
}
.link__instagram {
    background-image: url(../images/logo__link__insta.png)
}
.footer {
    margin-top: 84px
}
.footer__text {
    font-size: 14px;
    line-height: 17px
}
