html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
        height:101%;
}
/*header {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; display:block}*/
body{ line:center; 
 font-family: Helvetica, Arial, sans-serif;
    color: #fff


}
.back{

   background-image: url('../images/back.jpg');
    background-color: #242424;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
   /* background-position: 10px;*/
}

.wrapper {
   
    margin-top: 150px;
   
    
}
.content {
    max-width: 620px;
    max-height:440px;

    margin: 0 auto;
    padding: 30px;
    animation-name: opacity;
    -webkit-animation-name: opacity;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    /*-webkit-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:both;animation-fill-mode:both;
  -webkit-animation-name:a;
  animation-name:a;
  -webkit-animation-delay:.5s;
  animation-delay:.5s*/
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo{
  text-align: left;  
    margin-bottom: 24px;}
.logo__image {
    margin-bottom: 18px;
}
.logo__title {
    margin-bottom: 18px;
}
.logo__title-item {
font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.form{display: block;}
.form__group {
    display: inline-block;
    max-width: 198px;
    margin-right: 12px;
    vertical-align: middle;

}

.form__group-label {
    display: block;
    padding-bottom: 3px;
    font-size:16px;
    line-height: 24px;
}
.form__group-input {
    width: 180px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 12px 12px;
}
.form__group-message {
    opacity: 0;
    visibility: hidden;
    padding-top: 6px;
    color: #c33;
    font-size: 16px;
    line-height: 24px;
}
.form__group-for_button {
    padding-bottom: 3px;
    width: 105px;
}
.form__group-button {
     border: 1px solid #fff;

    border-radius: 4px;
    padding: 9px 12px;
    -webkit-transition-property: border-color, background, fill;
    transition-property: border-color, background, fill;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: transparent;
   
}
.form__group-button:focus,
.form__group-button:hover {
    background: #70c470
}
.form__group-button p {
    font-size: 18px;
    line-height: 24px;
}
.form__group-button_disabled,
.form__loading .form__group-button {
    border-color: #a9a9a9;
    color: #a9a9a9;
}
.form__group-button_disabled:focus,
.form__group-button_disabled:hover,
.form_loading .form__group-button:focus,
.form_loading .form__group-button:hover {
    background: transparent;
}

@-webkit-keyframes loader {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 12px;
    height: 12px;
    border: 6px solid #70c470;
    border-left-color: #43a343;
    border-bottom-color: #70c470;
    border-right-color: transparent;
    border-radius: 100%;
    margin-left: 15px;
    visibility:hidden;
    -webkit-animation: loader 0.5s infinite linear;
    -moz-animation: loader 0.5s infinite linear;
    animation: loader 0.5s infinite linear;
}



.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}




.form__result {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-top: 24px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}
.form__result a {
    -webkit-transition-property: border-bottom, border-color, background, color, fill;
    transition-property: border-bottom, border-color, background, color, fill;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-bottom: 1px solid #70c470
}
.form__result a:focus,
.form__result a:hover {
    -webkit-transition: none;
    transition: none;
    color: #70c470;
}
.form__group-error .form__group-input {
    border-color: #c33;
}
.form__group-error .form__group-message {
    opacity: 1;
    visibility: visible;
}
.form_loading .form__group-loader {
    visibility: visible!important;
}
.form_sucess .form__result {
    opacity: 1;
    max-height: 24px;
    }

.circular {
    -webkit-animation: b 2s linear infinite;
    animation: b 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    position: absolute;
    
}
.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: c 1.5s ease-in-out infinite, d 6s ease-in-out infinite;
    animation: c 1.5s ease-in-out infinite, d 6s ease-in-out infinite;
    stroke-linecap: round;
}

.links {
    margin-bottom: 18px
}
.links__item {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-size: cover
}
.link__vk {
    background-image: url(../images/logo__link__vk.png)
}
.link__instagram {
    background-image: url(../images/logo__link__insta.png)
}
.footer {
    margin-top: 84px
}
.footer__text {
    font-size: 12px;
    line-height: 16px
}
