html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body{ line:center; 
 font-family: Helvetica, Arial, sans-serif;
    color: #fff
}
.back{

   background-image: url('../images/back.jpg');
    background-color: #242424;
    background-size: cover;
    background-position: center;
   /* background-position: 10px;*/
}

.wrapper {
       margin-top: 150px;
 }
.content {
    max-width: 620px;
    max-height:440px;

    margin: 0 auto;
    padding: 30px;
    animation-name: opacity;
    -webkit-animation-name: opacity;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo{
  text-align: left;  
    margin-bottom: 24px;}
.logo__image {
    margin-bottom: 18px;
}
.logo__title {
    margin-bottom: 18px;
}
.logo__title-item {
font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.form{display: block;}
.form__group {
    display: inline-block;
    max-width: 196px;
    margin-right: 12px;
    vertical-align: middle;
}

.form__group-label {
    display: block;
    padding-bottom: 3px;
    font-size:16px;
    line-height: 24px;
}
.form__group-input {
    width: 180px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 12px 12px;
}
.form__group-message {
    opacity: 0;
    visibility: hidden;
    padding-top: 6px;
    color: #c33;
    font-size: 18px;
    line-height: 24px;
}
.form__group-for_button {
    padding-bottom: 3px;
}
.form__group-button {
     border: 1px solid #fff;
    border-radius: 6px;
    padding: 9px 12px;

    -webkit-transition-property: border-color, background, fill;
    transition-property: border-color, background, fill;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: transparent;
   
}
.form__group-button:focus,
.form__group-button:hover {
    background: #70c470
}
.form__group-button p {
    font-size: 18px;
    line-height: 24px;
}


.form__group-error .form__group-input {
    border-color: #c33;
}
.form__group-error .form__group-message {
    opacity: 1;
    visibility: visible;
}
.loader {  
}
.loader:before {
  }
.circular {
    }
.path {
   }

.links {
    margin-bottom: 18px
}
.links__item {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-size: cover
}
.link__vk {
    background-image: url(../images/logo__link__vk.png)
}
.link__instagram {
    background-image: url(../images/logo__link__insta.png)
}
.footer {
    margin-top: 84px
}
.footer__text {
    font-size: 12px;
    line-height: 16px
}
